<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CiudadCTR</servlet-name>
        <servlet-class>Controlador.CiudadCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NacionalidadCTR</servlet-name>
        <servlet-class>Controlador.NacionalidadCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilCTR</servlet-name>
        <servlet-class>Controlador.PerfilCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuSistemaCTR</servlet-name>
        <servlet-class>Controlador.MenuSistemaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuItem_SistemaCTR</servlet-name>
        <servlet-class>Controlador.MenuItem_SistemaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartamentoCTR</servlet-name>
        <servlet-class>Controlador.DepartamentoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpujeCTR</servlet-name>
        <servlet-class>Controlador.EmbarcacionCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FleteCTR</servlet-name>
        <servlet-class>Controlador.FleteCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaCTR</servlet-name>
        <servlet-class>Controlador.MarcaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonedaCTR</servlet-name>
        <servlet-class>Controlador.MonedaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotivoCTR</servlet-name>
        <servlet-class>Controlador.MotivoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoCTR</servlet-name>
        <servlet-class>Controlador.EmpleadoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpresaCTR</servlet-name>
        <servlet-class>Controlador.EmpresaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SucursalCTR</servlet-name>
        <servlet-class>Controlador.SucursalCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositoCTR</servlet-name>
        <servlet-class>Controlador.DepositoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorCTR</servlet-name>
        <servlet-class>Controlador.ProveedorCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteCTR</servlet-name>
        <servlet-class>Controlador.ClienteCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpuestoCTR</servlet-name>
        <servlet-class>Controlador.ImpuestoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unidad_MedidaCTR</servlet-name>
        <servlet-class>Controlador.Unidad_MedidaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MercaderiaCTR</servlet-name>
        <servlet-class>Controlador.MercaderiaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BancoCTR</servlet-name>
        <servlet-class>Controlador.BancoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu_SistemaCTR</servlet-name>
        <servlet-class>Controlador.Menu_SistemaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu_Item_SistemaCTR</servlet-name>
        <servlet-class>Controlador.Menu_Item_SistemaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermisoCTR</servlet-name>
        <servlet-class>Controlador.PermisoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCTR</servlet-name>
        <servlet-class>Controlador.ReporteCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo_EmbarcacionCTR</servlet-name>
        <servlet-class>Controlador.Tipo_EmbarcacionCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Informes_ComprasCTR</servlet-name>
        <servlet-class>Controlador.Informes_ComprasCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccesoCTR</servlet-name>
        <servlet-class>Controlador.AccesoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Solicitud_CompraCTR</servlet-name>
        <servlet-class>Controlador.Solicitud_CompraCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orden_Compra</servlet-name>
        <servlet-class>Controlador.Orden_CompraCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo_FacturaCTR</servlet-name>
        <servlet-class>Controlador.Tipo_FacturaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factura_CompraCTR</servlet-name>
        <servlet-class>Controlador.Factura_CompraCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuertoCTR</servlet-name>
        <servlet-class>Controlador.PuertoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimbradoCTR</servlet-name>
        <servlet-class>Controlador.TimbradoCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo_BarcazaCTR</servlet-name>
        <servlet-class>Controlador.Tipo_BarcazaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarcazaCTR</servlet-name>
        <servlet-class>Controlador.BarcazaCTR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioCTR</servlet-name>
        <servlet-class>Controlador.UsuarioCTR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CiudadCTR</servlet-name>
        <url-pattern>/CiudadCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NacionalidadCTR</servlet-name>
        <url-pattern>/NacionalidadCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilCTR</servlet-name>
        <url-pattern>/PerfilCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuSistemaCTR</servlet-name>
        <url-pattern>/MenuSistemaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuItem_SistemaCTR</servlet-name>
        <url-pattern>/MenuItem_SistemaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartamentoCTR</servlet-name>
        <url-pattern>/DepartamentoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpujeCTR</servlet-name>
        <url-pattern>/EmpujeCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FleteCTR</servlet-name>
        <url-pattern>/FleteCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaCTR</servlet-name>
        <url-pattern>/MarcaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonedaCTR</servlet-name>
        <url-pattern>/MonedaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotivoCTR</servlet-name>
        <url-pattern>/MotivoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoCTR</servlet-name>
        <url-pattern>/EmpleadoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpresaCTR</servlet-name>
        <url-pattern>/EmpresaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SucursalCTR</servlet-name>
        <url-pattern>/SucursalCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositoCTR</servlet-name>
        <url-pattern>/DepositoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorCTR</servlet-name>
        <url-pattern>/ProveedorCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteCTR</servlet-name>
        <url-pattern>/ClienteCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpuestoCTR</servlet-name>
        <url-pattern>/ImpuestoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unidad_MedidaCTR</servlet-name>
        <url-pattern>/Unidad_MedidaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MercaderiaCTR</servlet-name>
        <url-pattern>/MercaderiaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BancoCTR</servlet-name>
        <url-pattern>/BancoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu_SistemaCTR</servlet-name>
        <url-pattern>/Menu_SistemaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu_Item_SistemaCTR</servlet-name>
        <url-pattern>/Menu_Item_SistemaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermisoCTR</servlet-name>
        <url-pattern>/PermisoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCTR</servlet-name>
        <url-pattern>/ReporteCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo_EmbarcacionCTR</servlet-name>
        <url-pattern>/Tipo_EmbarcacionCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Informes_ComprasCTR</servlet-name>
        <url-pattern>/Informes_ComprasCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccesoCTR</servlet-name>
        <url-pattern>/AccesoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solicitud_CompraCTR</servlet-name>
        <url-pattern>/Solicitud_CompraCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orden_Compra</servlet-name>
        <url-pattern>/Orden_Compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo_FacturaCTR</servlet-name>
        <url-pattern>/Tipo_FacturaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factura_CompraCTR</servlet-name>
        <url-pattern>/Factura_CompraCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuertoCTR</servlet-name>
        <url-pattern>/PuertoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimbradoCTR</servlet-name>
        <url-pattern>/TimbradoCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo_BarcazaCTR</servlet-name>
        <url-pattern>/Tipo_BarcazaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarcazaCTR</servlet-name>
        <url-pattern>/BarcazaCTR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioCTR</servlet-name>
        <url-pattern>/UsuarioCTR</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
